@import '~bootstrap/scss/bootstrap';

$black: #000;
$green: #080;
$light-blue: #ade;
$red: #f00;

body {
  background-color: $light-blue;
  // border: 2px solid $black;
  text-align: center;
}

.failure {
  color: $red;
}

.memories-list-container {
  border: 2px solid $black;
  text-align: center;
}

.no-start-display,
.no-display-until-view-all {
  display: none;
}

.success {
  color: $green;
}

.yes-start-display {
  display: block;
  text-align: center;
}
